<section class="padding-seventeen-bottom color-code" data-color="4">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/custom.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin ">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase" style="color:#F1FD36">
            Configuración a la carta
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Diferentes contextos requieren diferentes funcionalidades.
          </h4>
          <p class="width-80 md-width-100  text-medium">
            Cada restaurante, tanto existente como los que se integren en el futuro, tienen un contexto específico que la solución debe entender, adaptándose a cada caso.
          </p>
          <p class="width-80 md-width-100  text-medium">
            ¿Reservas con meses de antelación o walk-ins? ¿Que daño produce un no-show? ¿Horarios de servicios, pases y personal? ¿Quién puede ver la información de ventas? Estos y muchos otros factores son determinantes para ajustar las operaciones y procesos diarios de cada restaurante .
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: Feature flags, Authorization policies.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
