<section class="no-padding color-code" data-color="4">
  <div class="container">
    <div class="row">
      <div class="center-col col-lg-8">
        <img src="images/retoixo/integration.png" alt="" class="width-100">
      </div>
    </div>
  </div>
</section>


<section class="half-section color-code" data-color="4">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/integration.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr ">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase" style="color:#F1FD36">
            Una hidra de mil cabezas
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Eliminando silos, conectando sistemas.
          </h4>
          <p class="width-80 md-width-100 text-medium">
            En 2018 la gestión de cualquier negocio <em>business-to-consumer</em> es una hidra de mil cabezas que resulta ridículo querer controlar con un enfoque monolítico.
          </p>
          <p class="width-80 md-width-100 text-medium">
            La visión estratégica ha de ser integral, pero esto sólo puede ser conseguido a través de la integración de múltiples soluciones. Detectar cuales aportan mayor valor para asumirlas internamente y adaptarlas al Grupo es clave.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: REST APIs, GraphQL, SaaS integration.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
