<section class="bg-light-gray no-padding color-code" data-color="4">
  <div class="container-fluid no-padding">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font text-deep-pink font-weight-600 text-uppercase">
            Multicanalidad
          </span>
          <h4 class="alt-font text-extra-dark-gray font-weight-600 sm-margin-lr-auto xs-width-100">
            Conectando con los clientes allá donde estén.
          </h4>
          <p class="width-80 md-width-100 text-medium">
            Un enfoque modular nos permite adaptar la solución a diferentes contextos. Por supuesto ésta debe ser accesible desde el navegador de cualquier dispositivo móvil. Pero eso es sólo el primer paso.
          </p>
          <p class="width-80 md-width-100 text-medium">
            Una buena estructuración nos abre la puerta a proporcionar, recibir e integrar información en cualquier canal: aplicaciones nativas para managers y powerusers del sistema, bots para los clientes finales, emails automatizados para los proveedores, etc.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keyword: Native apps, Chat bots, Inbound Email</strong>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 position-relative lg-height-700px md-height-400px xs-height-250px cover-background" style="background-image: url('/images/retoixo/bots.png'); background-size: contain !important; background-position: bottom !important;">
      </div>

    </div>
  </div>
</section>
