<section class="color-code no-padding-bottom" data-color="3">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/analysis.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            Analisis de segmentos
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Apoyándonos en los segmentos para conseguir nuevos <em>insights</em>.
          </h4>
          <p class="width-80 md-width-100 text-medium">
            ¿Como ha evolucionado el ticket medio entre los clientes de los últimos seis meses? ¿Y si consideramos únicamente nuestros dos nuevos restaurantes? ¿Qué platos están funcionado mejor este año entre nuestros clientes locales? ¿Y cuales entre la clientela internacional?
          </p>
          <p class="width-80 md-width-100 text-medium">
            Cualquier segmento puede ser comparado a otro segmento para detectar tendencias, oportunidades y problemas de manera sencilla. </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: Segment Analysis, Trend Reporting.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
