<section class="color-code cover-background" data-color="3" id="customer" style="background-image: url('/images/retoixo/customer.png');">
  <div class=" container-fluid text-white">
    <div class="row padding-100px-bottom">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase display-inline-block">
          El cliente como centro de gravedad
        </div>
        <h3 class="text-white alt-font width-95 sm-width-100 margin-70px-bottom sm-no-margin-bottom">
          La gestión de un grupo gastronómico heterogéneo donde los procesos y el día a día son diferentes debe
          sustentarse sobre la pieza común clave: el cliente
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last-paragraph-no-margin md-margin-40px-bottom">
        <div class="padding-40px-lr border-right border-width-1 border-color-white md-no-border-right xs-padding-15px-lr">
          <h3 class="font-weight-300 letter-spacing-minus-2 text-light-gray alt-font margin-10px-bottom">01</h3>
          <span class="alt-font display-block text-uppercase text-small">Quiénes son</span>
          <span class="text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block">Segmentación</span>
          <p class="text-medium">
            Cuando se manejan decenas de miles de clientes al año es muy fácil perder -ingentes- cantidades de tiempo y oportunidades si no contamos
            con las herramientas adecuadas para analizarlos.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last-paragraph-no-margin md-margin-30px-bottom">
        <div class="padding-40px-lr border-right border-width-1 border-color-light-gray md-no-border-right xs-padding-15px-lr">
          <h3 class="font-weight-300 letter-spacing-minus-2 text-light-gray alt-font margin-10px-bottom">02</h3>
          <span class="alt-font display-block text-uppercase text-small">Cómo son</span>
          <span class="text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block">Análisis</span>
          <p class="text-medium">
            Apoyándonos en los segmentos que nos interesan abrimos la puerta a nuevos insights y microtendencias sobre las operaciones de IXO Grupo que
            anteriormente quedaban ocultas.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last-paragraph-no-margin">
        <div class="padding-40px-lr xs-padding-15px-lr">
          <h3 class="font-weight-300 letter-spacing-minus-2 text-light-gray alt-font margin-10px-bottom">03</h3>
          <span class="alt-font display-block text-uppercase text-small">Perfiles</span>
          <span class="text-uppercase alt-font text-extra-large font-weight-700 margin-20px-bottom display-block">Perfiles</span>
          <p class="text-medium">
            Es fundamental acabar con cualquier silo de información que se encuentre aislado dentro de IXO Grupo y unificar todos los datos de un
            mismo cliente en una visión única y completa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
