<section class="xs-no-padding-top md-no-padding-top padding-seventeen-bottom color-code" data-color="3">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            Perfiles enriquecidos
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Las mil caras de un cliente.
          </h4>
          <p class="width-80 md-width-100 text-medium">
            Cuanto más conocemos a un cliente, mejor experiencia y servicio podemos darle. Por eso, es fundamental acabar con cualquier silo de información que se encuentre aislado dentro del Grupo IXO y unificar todos los datos de un mismo cliente en una visión única y completa.
          </p>
          <p class="width-80 md-width-100 text-medium">
            Y no nos tenemos que quedar aquí. Actualmente existen multiples servicios que permiten enriquecer el perfil de cualquier usuario con la información publica que existe del mismo (redes sociales, empresa, etc.)
          </p>
          <p class="width-80 md-width-100 text-medium">
            Integrar estos datos dentro de la visión consolidada del grupo nos abre las puertas a nuevas interacciones con el cliente y a un nuevo nivel de personalización.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: Clearbit, Profile Enrichment.</strong>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/profiles.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
