<style>
  .feature-box.feature-box-7 .box:hover i {
    color: #ffffff;
  }

  .feature-box.feature-box-7 .box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
  }
</style>


<section class=" no-padding bg-light-gray">
  <div class="container-fluid no-padding">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin sm-text-centefr">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr xs-text-centerr">
          <span class="text-medium margin-15px-bottom display-block alt-font text-deep-pink font-weight-600 text-uppercase">
            La aguja en el pajar
          </span>
          <h4 class="alt-font text-extra-dark-gray font-weight-600 sm-margin-lr-auto xs-width-100">
            Segmentos dinámicos en base a criterios de negocio
          </h4>
          <p class="width-80 md-width-100 text-medium">
            Cuando se manejan decenas de miles de clientes al año es muy fácil perder -ingentes- cantidades de tiempo y oportunidades si no contamos con las herramientas adecuadas para analizarlos.
          </p>
          <p class="width-80 md-width-100 text-medium">
            Nuestra propuesta se basa en la creación de segmentos muy concretos y personalizables que se mantienen actualizados de manera automática y analizan cada nuevo cliente que aparece.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 position-relative height-700px sm-height-500px xs-height-300 cover-background" style="background-image: url('/images/retoixo/segments.jpg')"></div>
    </div>
  </div>
</section>

<section class="half-section color-code" data-color="3">
  <div class="container">
    <div class="row">
      <div class="center-col col-lg-8">
        <img src="images/retoixo/criteria.png" alt="" class="width-100">
      </div>
    </div>
  </div>
</section>

<section class="no-padding text-white color-code" data-color="3">
  <div class="container-fluid">
    <div class="feature-box feature-box-7 equalize xs-equalize-auto">
      <!-- start feature item -->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding xs-margin-five-bottom last-paragraph-no-margin" style="visibility: visible; height: 207px;">
        <div class="box">
          <div class="content">
            <figure>
              <i class="icon-wallet icon-extra-medium margin-15px-bottom"></i>
              <span class="text-large alt-font display-block margin-10px-bottom">¿Quienes tienen un gasto superior <br>a 500€ en bebidas? </span>
              <div class="details">
                <p class="width-65 center-col text-medium text-extra-dark-gray">Nos gustaría presentarles el evento que hacemos con Perrier-Jouët el próximo sábado.</p>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding xs-margin-five-bottom last-paragraph-no-margin" style="visibility: visible; height: 207px;">
        <div class="box">
          <div class="content">
            <figure>
              <i class="icon-global icon-extra-medium margin-15px-bottom"></i>
              <span class="text-large alt-font display-block margin-10px-bottom">¿Que clientes de Noruega nos han visitado <br>más de una vez en los últimos 5 años?
              </span>
              <div class="details">
                <p class="width-65 center-col text-medium text-extra-dark-gray">Participamos en un evento en Oslo la próxima semana que nos gustaría promocionar.</p>
              </div>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-padding hidden-sm last-paragraph-no-margin" style="visibility: visible; height: 207px;">
        <div class="box">
          <div class="content">
            <figure>
              <i class="icon-trophy icon-extra-medium margin-15px-bottom"></i>
              <span class="text-large alt-font display-block margin-10px-bottom">¿Qué clientes han probado cada menu desgustación desde que abrimos? </span>
              <div class="details">
                <p class="width-65 center-col text-medium text-extra-dark-gray">Queremos testear el nuevo menu en evento cerrado con nuestros incondicionales.</p>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
