<head>
  <!-- title -->
  <title>Jansu — Hacia la experiencia gastronómica perfecta de la mano del cliente. — Una propuesta de Linking Paths</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <meta name="description" content="Jansu es la respuesta de Linking Paths al #RetoIXO, un desafío lanzado por IXO Grupo, una solución que presenta los pilares para conseguir la excelencia en las experiencias gastronómicas a traves de un conocimiento 360º de los clientes.">

  <meta content="Jansu es la respuesta de Linking Paths al #RetoIXO, un desafío lanzado por IXO Grupo, una solución que presenta los pilares para conseguir la excelencia en las experiencias gastronómicas a traves de un conocimiento 360º de los clientes." property="og:description" />
  <meta content="/images/retoixo/facebook_card.jpg" property="og:image" />
  <meta content="Jansu — Hacia la experiencia gastronómica perfecta de la mano del cliente. — Una propuesta de Linking Paths" property="og:title" />
  <meta content="https://retoixo.linkingpaths.com/" property="og:url" />
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="Jansu es la respuesta de Linking Paths al #RetoIXO, un desafío lanzado por IXO Grupo, una solución que presenta los pilares para conseguir la excelencia en las experiencias gastronómicas a traves de un conocimiento 360º de los clientes." name="twitter:description" />
  <meta content="/images/retoixo/twitter_card.jpg" name="twitter:image" />
  <meta content="@linkingpaths" name="twitter:site" />
  <meta content="Jansu — Hacia la experiencia gastronómica perfecta de la mano del cliente. — Una propuesta de Linking Paths" name="twitter:title" />
  <meta content="https://retoixo.linkingpaths.com" name="twitter:url" />


  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <!-- animation -->
  <link rel="stylesheet" href="css/animate.css" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- et line icon -->
  <link rel="stylesheet" href="css/et-line-icons.css" />
  <!-- font-awesome icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css" />
  <!-- themify icon -->
  <link rel="stylesheet" href="css/themify-icons.css">
  <!-- swiper carousel -->
  <link rel="stylesheet" href="css/swiper.min.css">
  <!-- justified gallery  -->
  <link rel="stylesheet" href="css/justified-gallery.min.css">
  <!-- magnific popup -->
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <!-- revolution slider -->
  <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
  <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">
  <!-- bootsnav -->
  <link rel="stylesheet" href="css/bootsnav.css">
  <!-- style -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- responsive css -->
  <link rel="stylesheet" href="css/responsive.css" />
  <link rel="stylesheet" href="css/reto.css" />
  <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
</head>
