<header>
  <!-- start navigation -->
  <nav class="navbar navbar-default bootsnav nav-top-scroll bg-transparent nav-box-width white-link padding-four-lr menu-logo-center">
    <div class="container nav-header-container">
      <div class="row">
        <div class="center-logo">
          <a href="index.html" title="Pofo" class="logo"><img src="images/logo.png" data-rjs="images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="images/logo-full-white.png" data-rjs="images/logo-full-white@2x.png" alt="Pofo" class="logo-light default"></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 accordion-menu">
          <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse collapse no-padding-right" id="navbar-collapse-toggle-1">
            <ul class="nav navbar-nav navbar-left text-right no-margin alt-font text-normal width-40 sm-width-100 sm-text-left" data-in="fadeIn" data-out="fadeOut">
              <li class="dropdown megamenu-fw">
                <a href="#challenge" class="inner-link">
                  <span class="visible-xs">El reto Grupo IXO</span>
                  <span class="hidden-xs">El reto</s>
                </a>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="#customer" class="inner-link">
                  <span class="visible-xs">El cliente como centro de gravedad</span>
                  <span class="hidden-xs">El cliente</s>
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right no-margin alt-font text-normal width-40 sm-width-100" data-in="fadeIn" data-out="fadeOut">
              <li class="dropdown simple-dropdown">
                <a href="#">
                  <span class="visible-xs">Los pilares de nuestra propuesta</span>
                  <span class="hidden-xs">Los pilares</s>
                </a>
                <i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                <!-- start sub menu -->
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#modularity" class="inner-link">Soluciones modulares</a></li>
                  <li><a href="#cloud" class="inner-link">Infraestructura Cloud </a></li>
                  <li><a href="#ml" class="inner-link">Sistemas inteligentes</a></li>
                </ul>
              </li>
              <li class="dropdown megamenu-fw">
                <a href="#afterword" class="inner-link">Conclusión</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end navigation -->
</header>
