<section class="extra-big-section parallax wow fadeIn" data-stellar-background-ratio="0.5" style="background-image: url('/images/retoixo/afterword.jpg')" id="afterword">
  <div class="opacity-full-dark bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-11 col-xs-12 center-col text-center">
        <div class="alt-font text-medium-gray text-uppercase text-small margin-20px-bottom xs-text-left">
          Conclusión
        </div>
        <h5 class="text-light-gray alt-font margin-40px-bottom xs-margin-30px-bottom xs-text-left">
          Nuestra propuesta se basa en una única premisa: las herramientas tecnológicas actuales pueden mejorar la relación con el cliente.
        </h5>
        <p class="text-medium text-light-gray xs-text-left">
          Y para hacerlo primero debemos conocerle lo mejor posible. Cualquier iniciativa que elimine nichos de información dentro
          del IXO Grupo y automatice su procesamiento nos nos da una ventaja competitiva. Todo esto debe conseguirse reconociendo
          el carácter global de la clientela y la casuística de los restaurantes que lo integran y poniendo las herramientas
          tecnológicas necesarias a su servicio.
        </p>
        <p class="text-medium text-light-gray margin-60px-bottom xs-text-left">
          Esperamos que esta propuesta, en la que se presenta nuestro enfoque para conseguirlo os ayude a centrar la visión de la solución y genere debate y preguntas sobre cómo exactamente llegar hasta esa meta.
        </p>
        <div class="center-col">
          <a href="mailto:jansu@linkingpaths.com" class="btn btn-medium btn-white btn-rounded">Hablemos de Jansu</a>
        </div>

      </div>
    </div>
  </div>
</section>
