<section class="half-section xs-no-padding-bottom md-no-padding-bottom color-code" data-color="6">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/ai.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            El nuevo miembro de tu equipo
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Mejorando cada día… <em>literalmente</em>
          </h4>
          <p class="width-80 md-width-100 text-medium">
            La técnicas de <em>Machine Learning</em> que se han popularizado en los últimos 5 años dependen de un factor clave para su implementación: una ingente cantidad de datos.
          </p>
          <p class="width-80 md-width-100 text-medium">
            Por eso, en un contexto como el de IXO Grupo estas herramientas pueden ser una oportunidad única para ayudar a la toma de decisiones: predicción de reservas para cada día, diseño de pricing en base a localización, detección de problemas durante el servicio…
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: PyTorch, Machine Learning, Accurate predictions </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
