<section class="no-padding color-code" data-color="6">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            Automate all the Things
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            ¿Cual fue ayer el tiempo medio de ocupación de mesa en nuestro local?
          </h4>
          <p class="width-90 md-width-100 text-medium">
            Hay una multitud de tareas que pueden ser automatizadas sin la necesidad de aplicar Machine Learning y que sin embargo aumentarían la eficiencia del Grupo de manera espectacular.
          </p>
          <p class="width-90 md-width-100 text-medium">
            Informes matutinos diarios a cada manager con el review del servicio de ayer y las reservas y características del de hoy, procesamiento y asignación automático de emails de clientes y proveedores, confirmación automatizada de reservas…
          </p>
          <p class="width-90 md-width-100 text-medium">
            Menos tiempo dedicado a procesos manuales nos da más tiempo para aportar valor y buscar nuevas oportunidades.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keyword: Automation, Inbound Transactional Email.</strong>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/automate.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
