<section class="half-section color-code" data-color="6">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/ubiquity.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            Ubicuidad y Asistentes Virtuales
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Alexa, ¿cuantas veces nos ha visitado la mesa siete?
          </h4>
          <p class="width-90 md-width-100 text-medium">
            Altavoces inteligentes, asistentes virtuales…ahora mismo, cualquier empresa puede tener acceso a inteligencia artificial de primer nivel con prácticamente un desembolso cero en infraestructura. ¿Por qué no aprovechar esa increíble oportunidad?
          </p>
          <p class="width-90 md-width-100 text-medium">
            La restauración es un campo en el que la eficiencia es una de las claves del éxito. El uso de de estas tecnologías, especialmente en contextos donde el uso de una pantalla es farragoso o incómodo, puede proporcionar una experiencia ordenes de magnitud más productiva y sencilla.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keyword: Alexa, Google Assistant, NLP.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
