<section class="color-code no-padding" data-color="2" id="challenge">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 sm-margin-5px-bottom">
        <div class="separator-line-horrizontal-full bg-extra-light-gray  margin-20px-bottom sm-display-none"></div>
        <span class="text-uppercase text-white alt-font letter-spacing-1 font-weight-600 text-small">
          Sobre el reto
        </span>
      </div>
      <div class="col-lg-8 col-md-7 col-md-offset-2 last-paragraph-no-margin">
        <h5 class="alt-font text-white font-weight-600 margin-30px-bottom clear-both">
          Los pilares de una nueva gestión.
        </h5>
        <div class="text-white">
          <p class="text-medium line-height-30">
            A finales de Septiembre de 2018,
            <strong>
              <a class="text-link-white text-white-hover text-decoration-underline" href="https://twitter.com/OpenFuture_Gip">Gipuzkoa Open Future_</a>
            </strong>
            en colaboración con el
            <strong>
              <a class="text-link-white text-white-hover text-decoration-underline" href="http://ixogrupo.com">IXO Grupo</a>
            </strong>
            lanzaba un desafío en el que se buscaban propuestas tecnológicas que permitiesen ofrecer la
            mejor experiencia personalizada de cliente. experiencia del cliente”) En IXO Grupo esta experiencia del cliente se quiere cuidar hasta el mínimo detalle
            y el sistema <em>legacy</em> que actualmente se usa para gestionar la información de sus clientes es un silo desconectado del resto de procesos del grupo.
          </p>
          <p class="text-medium line-height-30">
            En las <a class="text-link-white text-white-hover text-decoration-underline" href="">bases del desafío</a> no se especificaban la infraestructura, procesos y sistemas que se utilizan
            actualmente, ni se describían en detalle las principales problemáticas que IXO Grupo encuentra en la
            gestión de sus clientes. Por ello, en vez de usar una bola de cristal e imaginar cuales son éstas, enfocamos nuestra propuesta como un exploración inicial de los pilares que entendemos
            deben sostener una solución tecnológica que busque gestionar experiencias gastronómicas de manera integral.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
