<section class="wow fadeIn no-padding cover-background color-code" data-color="1" style="background-image: url('/images/retoixo/mugaritz.png');">
  <div class="container full-screen position-relative">
    <div class="slider-typography text-left">
      <div class="slider-text-middle-main">
        <div class="slider-text-middle">
          <div class="col-lg-7 col-md-10 col-sm-10 center-col text-center">
            <span class="after-before-separator text-extra-small alt-font text-white letter-spacing-3 xs-letter-spacing-0 text-uppercase margin-20px-bottom xs-margin-5px-bottom display-inline-block">
              Una propuesta de Linking Paths
            </span>
            <h2 class="font-weight-600 text-white alt-font margin-40px-bottom xs-margin-25px-bottom">
              Hacia la experiencia gastronómica perfecta de la mano del cliente.
            </h2>
            <a href="#customer" class="btn btn-transparent-white btn-rounded btn-medium text-link-white inner-link">
              Jansu: nuestra propuesta
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
