<!--section class="md-no-background-img margin-50px-bottom color-code" data-color="3" style="padding-top:40px; background: url('images/back-image1.png') left bottom no-repeat,url('images/back-image2.png') right top no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 center-col text-center xs-padding-15px-lr">
        <div class="text-extra-small letter-spacing-3 alt-font text-white text-uppercase margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom display-inline-block">
          El cliente como centro de gravedad
        </div>
        <h3 class="text-white alt-font width-95 sm-width-100 margin-70px-bottom sm-no-margin-bottom">
          La gestión de un grupo gastronómico heterogéneo donde los procesos y el día a día son diferentes debe
          sustentarse sobre la pieza común clave: el cliente
        </h3>
      </div>
    </div>
  </div>
</section-->
