<section class="no-padding color-code" data-color="5">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/escalability.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            Escalabilidad inmediata
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            De la noche a la mañana.
          </h4>
          <p class="width-80 md-width-100 text-medium">
            La inclusión de un nuevo restaurante puede suponer un influjo de decenas de miles de clientes y cientos de miles de transacciones y datapoints al grupo.
          </p>
          <p class="width-80 md-width-100 text-medium">
            Para poder resistir estas mareas informativas la solución debe aprovecharse de la elasticidad, tanto económica como tecnológica, que proporcionan los proveedores de Cloud Computing.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: PaaS, Heroku, Kubernetes.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
