<section class="xs-no-padding-top md-no-padding-top padding-seventeen-bottom color-code" data-color="5">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr ">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            Flexibilidad y comoditización computacional
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Pegamento tecnológico para centrarse en el negocio.
          </h4>
          <p class="width-80 md-width-100 text-medium">
            El Grupo IXO debe aprovechar el ecosistema Cloud actual que permite integrar nuevos servicios tecnológicos a una velocidad increíble mientras se mantienen con unos costes bajos.
          </p>
          <p class="width-80 md-width-100 text-medium">
            La autogestión y monitorización que estas herramientas y plataformas hacen de sus propios servicios permiten que el equipo desarrollador de la solución se concentre en aportar valor donde el Grupo lo necesita y no en la infraestructura que lo sostiene.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: Mandrill, Segment, imgix.</strong>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12  text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/flexibility.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
