<section class="half-section color-code" data-color="5">
  <div class="container-fluid no-padding text-very-light-gray">
    <div class="row equalize sm-equalize-auto no-margin">
      <div class="col-md-6 col-sm-12 col-xs-12 display-table last-paragraph-no-margin">
        <div class="display-table-cell vertical-align-middle padding-fifteen-all md-padding-ten-all xs-no-padding-lr ">
          <span class="text-medium margin-15px-bottom display-block alt-font  font-weight-600 text-uppercase color-ml-accent">
            Desde <em>Lo Viejo</em> hasta Dubai
          </span>
          <h4 class="alt-font text-white font-weight-600 sm-margin-lr-auto xs-width-100">
            Diseño global desde el minuto cero.
          </h4>
          <p class="width-80 md-width-100 text-medium">
            No sólo los clientes se encuentran dispersos por todo el mundo, sino que los propios miembros del Grupo IXO se pueden incorporar cada vez desde más puntos diferentes del planeta.
          </p>
          <p class="width-80 md-width-100 text-medium">
            La solución tienen que contemplar este hecho no solo a nivel conceptual, sino también a nivel tecnológico proporcionando a cada usuario una experiencia de primer nivel, se encuentre donde se encuentre.
          </p>
          <p class="alt-font text-uppercase font-weight-600 text-link-extra-dark-gray text-small">
            <strong>Keywords: AWS Infraestructure, CDNs, Cloudflare.</strong>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <img src="/images/retoixo/global.jpg" alt="" class="border-radius-6 width-100" data-no-retina="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
